{%- macro component(event, config) -%}
    <div class="card indicator max-sm:rounded-none bg-neutral text-neutral-content flex w-auto max-w-screen-sm md:shadow-2xl mx-auto not-prose">
        <div class="card-body">
            <h1 class="card-title flex justify-between">
                <span>{{ event.data.title }}</span>
            </h1>

            {% if (collections.venues | where(event.data.venue)).length %}
            <p><strong>Location</strong>: <a href="/venues/{{ event.data.venue | slugify }}/" class="link">{{ event.data.venue }}</a>, {{ event.data.location }}</p>
            {% else %}
            <p><strong>Location</strong>: {{ event.data.venue }}, {{ event.data.location }}</p>
            {% endif %}

            <p><strong>Date</strong>: {{ event.data.date | date('cccc dd LLLL y') }}</p>

            <ul class="list-disc list-outside pl-4">
                {% for artist in event.data.artists %}
                    <li>{{ artist }}</li>
                {% endfor %}
            </ul>

            <div class="card-actions mt-2">
                <a href="{{ event.page.url }}" class="btn btn-sm btn-accent">View Event</a>
            </div>
        </div>

        <span class="indicator-item indicator-top indicator-center badge p-4 font-bold badge-secondary">Next Event</span>
    </div>
{%- endmacro -%}
