{
    "semi": false,
    "printWidth": 1000,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.webc",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.toml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
