<header class="navbar bg-neutral text-neutral-content md:sticky top-0 z-50">
    {% include 'layout/mobile-nav.njk' %}

    <div class="flex-1 items-center max-sm:-ml-8">
        <a href="/" class="btn text-nowrap btn-wide btn-ghost btn-lg max-sm:mx-auto">{{ site.title }}</a>
    </div>

    {% include 'layout/nav.njk' %}
</header>
