<div class="flex-none sm:hidden dropdown z-50">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h7"/>
        </svg>
    </div>

    <ul tabindex="0" class="menu menu-sm dropdown-content bg-neutral text-neutral-content -left-2 z-1 mt-3 p-2 px-4 w-screen">
        <li><a href="/about/">About</a></li>
        <li><a href="/upcoming/">Upcoming Events</a></li>
        <li><a href="/venues/">Venues</a></li>
        <li><a href="/locations/">Locations</a></li>
    </ul>
</div>
