<div class="hidden sm:flex flex-none justify-end">
    <ul class="menu menu-horizontal">
        <li><a href="/about/" class="max-md:px-2">About</a></li>
        <li><a href="/upcoming/" class="max-md:px-2">Upcoming Events</a></li>
        <li><a href="/venues/" class="max-md:px-2">Venues</a></li>
        <li><a href="/locations/" class="max-md:px-2">Locations</a></li>
    </ul>
</div>
