{%- macro component(events) -%}
  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    {% for event in events %}
      <li>
        <div class="timeline-middle">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5">
            <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"/>
          </svg>
        </div>

        <div class="pb-10 {{ 'timeline-end' if loop.index % 2 === 0 else 'timeline-start md:text-end' }}">
          <time class="font-mono italic">{{ event.data.date | date('yyyy-LL-dd') }}</time>
          <h3 class="text-lg font-black"><a href="{{ event.url | url | absoluteUrl(config.baseUrl) }}">{{ event.data.title }}</a></h3>
          <p class="mb-2">{{ event.data.venue }}, {{ event.data.location }}</p>
          <a href="{{ event.url | url | absoluteUrl(config.baseUrl) }}" class="btn btn-sm btn-secondary">View Event</a>
        </div>
        <hr/>
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}
