<header class="navbar bg-neutral text-neutral-content">
    <div class="flex-none sm:hidden">
        <button class="btn btn-square btn-ghost">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-5 w-5 stroke-current">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </div>

    <div class="flex-1">
        <a href="{{ '/' | url | absoluteUrl(config.baseUrl) }}" class="btn btn-ghost text-xl">{{ site.title }}</a>
    </div>

    <div class="hidden sm:flex flex-none justify-end">
        <ul class="menu menu-horizontal px-1">
            <li><a href="{{ '/about/' | url | absoluteUrl(config.baseUrl) }}">About</a></li>
            <li><a href="{{ '/upcoming/' | url | absoluteUrl(config.baseUrl) }}">Upcoming Events</a></li>
            <li><a href="{{ '/venues/' | url | absoluteUrl(config.baseUrl) }}">Venues</a></li>
            <li><a href="{{ '/locations/' | url | absoluteUrl(config.baseUrl) }}">Locations</a></li>
        </ul>
    </div>
</header>



