---
title: About
---
<div class="container my-8 mx-auto prose md:prose-xl">
    <h2 class="mb-2 md:mb-4">{{ title }}</h2>
    <p class="prose-lead">
        <strong>{{ site.title }}</strong> is a UK-based live music promoter
        looking for pop-punk, ska-punk, emo and adjacent bands to play North
        East Lincolnshire and Hull in the UK.
    </p>
</div>

<div class="sm:container mx-auto mt-10 mb-0 sm:mt-16 sm:mb-8">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/card', collections.events | next) }}
</div>
