---
pagination:
  data: collections.events
  size: 1
  alias: event
permalink: "/events/{{ event.data.date | date('y-LL-dd') }}:{{ event.data.title | slugify }}/"
eleventyComputed:
  title: "{{ event.data.title }}"
  venue: "{{ event.data.venue }}"
  location: "{{ event.data.location }}"
  tags:
    - event
    - "{{ event.data.venue }}"
    - "{{ event.data.location }}"
---
<div class="container my-8 mx-auto max-w-prose">
    <div class="card bg-neutral text-neutral-content flex w-auto shadow-2xl mx-auto not-prose my-12">
        <div class="card-body">
            <h1 class="card-title flex justify-between">
                <span>{{ title }}</span>
            </h1>

            {% if (collections.venues | pluck(venue)).length %}
            <p><strong>Location</strong>: <a href="/venues/{{ venue | slugify }}/" class="link">{{ venue }}</a>, {{ location }}</p>
            {% else %}
            <p><strong>Location</strong>: {{ venue }}, {{ location }}</p>
            {% endif %}

            <p><strong>Date</strong>: {{ event.data.date | date('cccc dd LLLL y') }}</p>

            <ul class="list-disc list-outside pl-4">
                {% for artist in event.data.artists %}
                    <li>{{ artist }}</li>
                {% endfor %}
            </ul>

            {{ content | safe }}
        </div>
    </div>
</div>

{% if (collections[location] | upcoming | exclude(page.url)).length > 0 %}
<div class="divider divider-accent">Upcoming Events in {{ location }}…</div>

<div class="container mx-auto my-8">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/timeline', collections[location] | upcoming | exclude(page.url)) }}
</div>
{% endif %}

{% if (collections[location] | past | exclude(page.url)).length > 0 %}
<div class="divider divider-accent">Previous Events in {{ location }}…</div>

<div class="container mx-auto my-8">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/timeline', collections[location] | past | exclude(page.url) | reverse) }}
</div>
{% endif %}
