---
pagination:
  data: collections.events
  size: 1
  alias: event
permalink: "/events/{{ event.data.date | date('y-LL-dd') }}:{{ event.data.safe if event.data.safe else (event.data.title | slugify) }}/"
eleventyComputed:
  title: "{{ event.data.title | safe }}"
  venue: "{{ event.data.venue }}"
  location: "{{ event.data.location }}"
  tags:
    - event
    - "{{ event.data.venue }}"
    - "{{ event.data.location }}"
---
<div class="bg-base-200 p-8 border-secondary border-t-4">
    <div class="sm:container sm:max-w-prose mx-auto space-y-3">
        <h1 class="font-bold mb-4 text-3xl sm:text-5xl">
            <span>{{ title | safe }}</span>
        </h1>

        {% if (collections.venues | where(venue)) .length %}
            <p><strong>Location</strong>: <a href="/venues/{{ venue | slugify }}/" class="link">{{ venue }}</a>, {{ location }}</p>
        {% else %}
            <p><strong>Location</strong>: {{ venue }}, {{ location }}</p>
        {% endif %}

        <p><strong>Date</strong>: {{ event.data.date | date('cccc, ddS LLLL y') }}</p>
    </div>
</div>

<div class="bg-accent p-8 mb-12">
    <div class="sm:container sm:max-w-prose mx-auto space-y-3">
        <h3 class="text-xl font-bold">{{ 'Whose Playing?' if isFuture(event.data.date) else "Who Played?" }}</h3>
        {% if event.data.artists.length %}
            <ul class="list-disc list-outside pl-4">
                {% for artist in event.data.artists %}
                    <li>{{ artist | safe }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>To Be Confirmed…</p>
        {% endif %}
    </div>
</div>

{% if (collections.events | where(location, "data.location") | upcoming | exclude(page.url)) .length > 0 %}
    <div class="divider divider-accent">Upcoming Events in {{ location }}…</div>

    <div class="container mx-auto my-8">
        {%- from 'component.njk' import component with context -%}
        {{ component('event/timeline', collections.events | where(location, "data.location") | upcoming | exclude(page.url)) }}
    </div>
{% endif %}

{% if (collections.events | where(location, "data.location") | past | exclude(page.url)) .length > 0 %}
    <div class="divider divider-accent">Previous Events in {{ location }}…</div>

    <div class="container mx-auto my-8">
        {%- from 'component.njk' import component with context -%}
        {{ component('event/timeline', collections.events | where(location, "data.location") | past | exclude(page.url) | reverse) }}
    </div>
{% endif %}
