---
title: Welcome
---
<div class="hero bg-base-200 md:min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-xs sm:max-w-xl py-4 space-y-6">
      <h1 class="text-3xl sm:text-5xl font-bold">{{ site.description }}</h1>
      <a href="{{ '/about/' | url | absoluteUrl(config.baseUrl) }}" class="btn btn-primary">Find Out More</a>
    </div>
  </div>
</div>

{# {% include 'stats.njk' %} #}

<div class="container mx-auto my-10 md:my-16">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/item', collections.events | next) }}
</div>

<div class="divider divider-accent">Upcoming Events…</div>

<div class="container mx-auto py-8">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/timeline', collections.events | upcoming) }}
</div>

<div class="divider divider-accent">Previous Events…</div>

<div class="container mx-auto py-8">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/timeline', collections.events | past | reverse) }}
</div>
