---
layout: base.njk
---
<h1>{{ $tag }}</h1>

<ul>
    {% for event in collections[tag] | reverse %}
        <li>
            <a href="{{ event.url }}">{{ event.data.date | date('yyyy-LL-dd') }} - {{ event.data.title }}</a>
        </li>
    {% endfor %}
</ul>
