---
layout: base.njk
---
<div class="container my-8 mx-auto max-w-prose">
    <div class="card bg-neutral text-neutral-content flex w-auto shadow-2xl mx-auto not-prose my-12">
        <div class="card-body">
            <h1 class="card-title flex justify-between">
                <span>{{ title }}</span>
            </h1>

            {% if (collections.venues | pluck(venue)).length %}
            <p><strong>Location</strong>: <a class="link" href="{{ ('/venues/' + (venue | slugify) + '/') | url | absoluteUrl(config.baseUrl) }}">{{ venue }}</a>, {{ location }}</p>
            {% else %}
            <p><strong>Location</strong>: {{ venue }}, {{ location }}</p>
            {% endif %}

            <p><strong>Date</strong>: {{ date | date('cccc dd LLLL y') }}</p>

            <ul class="list-disc list-outside pl-4">
                {% for band in bands %}
                    <li>{{ band }}</li>
                {% endfor %}
            </ul>

            {{ content | safe }}
        </div>
    </div>
</div>

{% if (collections[location] | upcoming | exclude(page.url)).length > 0 %}
<div class="divider divider-accent">Upcoming Events in {{ location }}…</div>

<div class="container mx-auto my-8">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/timeline', collections[location] | upcoming | exclude(page.url)) }}
</div>
{% endif %}

{% if (collections[location] | past | exclude(page.url)).length > 0 %}
<div class="divider divider-accent">Previous Events in {{ location }}…</div>

<div class="container mx-auto my-8">
    {%- from 'component.njk' import component with context -%}
    {{ component('event/timeline', collections[location] | past | exclude(page.url) | reverse) }}
</div>
{% endif %}
