---
layout: base.njk
pagination:
  data: collections.locations
  size: 1
  alias: location
permalink: /locations/{{ location | slugify }}/
eleventyComputed:
  title: "Events in {{ location }}"
---
<div class="container my-8 mx-auto prose md:prose-xl">
    <h2 class="mb-2 md:mb-4 text-center">{{ location }}</h2>
    {{ content | safe }}
</div>

{% if (collections[location] | upcoming).length > 0 %}
<div class="divider divider-accent">Upcoming Events…</div>

<div class="container mx-auto py-8">
    {%- from 'component.njk' import component -%}
    {{ component('event/timeline', collections[location] | upcoming) }}
</div>
{% endif %}

{% if (collections[location] | past).length > 0 %}
<div class="divider divider-accent">Previous Events…</div>

<div class="container mx-auto py-8">
    {%- from 'component.njk' import component -%}
    {{ component('event/timeline', collections[location] | past | reverse) }}
</div>
{% endif %}
