---
layout: base.njk
---
<div class="container my-8 mx-auto prose md:prose-xl">
    <h2 class="mb-2 md:mb-4">{{ title }}</h2>
    {{ content | safe }}
</div>


{% if (collections[title] | upcoming).length > 0 %}
<div class="divider divider-accent">Upcoming Events…</div>

<div class="container mx-auto py-8">
    {%- from 'component.njk' import component -%}
    {{ component('event/timeline', collections[title] | upcoming) }}
</div>
{% endif %}

{% if (collections[title] | past).length > 0 %}
<div class="divider divider-accent">Previous Events…</div>

<div class="container mx-auto py-8">
    {%- from 'component.njk' import component -%}
    {{ component('event/timeline', collections[title] | past | reverse) }}
</div>
{% endif %}
